# =============== #
# Unity generated #
# =============== #
KoalaKarts/Temp/
KoalaKarts/Obj/
KoalaKarts/UnityGenerated/
KoalaKarts/Library/
KoalaKarts/Assets/AssetStoreTools*
KoalaKarts/Assets/Terrain/New Terrain.asset
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# =================== #
# Build Related Files #
# =================== #
KoalaKarts/Builds/*/output_log.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
KoalaKarts/ExportedObj/
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
KoalaKarts/Assets/BoomBang.fbx
